@media (max-width: 460px) {
  .game_wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 0;
  }
  .btn {
    flex: 1;
    border-radius: 0;
    overflow: hidden;
  }
  .celebration_title {
    text-align: center;
  }
}

@media (orientation: landscape) and (max-height: 430px) {
  .game_wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    gap: 0;
  }
  .btn {
    flex: 1;
    border-radius: 0;
    overflow: hidden;
  }
  .celebration_title {
    text-align: center;
  }
}